<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input your cats!</title>
  </head>
  <body>
    <h1>Add your cat!</h1>
<form class="" action="/addCat" method="post">
  <label for="">Your cats name:</label>
  <input type="text" name="catName" value="">
  <label for="">Your cats weight:</label>
  <input type="number" name="catWeight" value="">
  <label for="">Your cats age:</label>
  <input type="number" name="catAge" value="">
  <label for="">Your cats eye color:</label>
  <input type="text" name="catEyeColor" value="">
  <label for="">Your cats fur color:</label>
  <input type="text" name="catFurColor" value="">
  <input type="submit" name="" value="submit!">
</form>
<form class="" action="/displayMe" method="post">
  <input type="submit" name="" value="go to display">
</form>
  </body>
</html>
